@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla:wght@300&family=Poppins&family=Saira+Extra+Condensed&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #212529;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navegador {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 2px 15px 2px 15px;
}

.nombre {
  position: relative;
  text-shadow: #fff 0 0 10px, #fff 0 0 20px, #fff 0 0 30px;
  z-index: 20;
  padding: 10px;
  user-select: none;
}

.navegador__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
}

.navegador__botones {
  padding: 10px 30px;
  margin-bottom: 30px;
  border: none;
  border: #495057 2px solid;
  background-color: transparent;
  box-shadow: transparent;
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  transition: 1s ease;

}

.navegador__botones:hover,.navegador__botones:focus {
  background-color: #5a189a;
  color: #fff;
  border: #5a189a 2px solid;
  box-shadow: #5a189a 0 0 10px, #5a189a 0 0 20px, #5a189a 0 0 40px;
  text-shadow: #fff 0 0 5px, #fff 0 0 10px, #fff 0 0 20px;
}

.precentacion {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-direction: row-reverse;
}

.precentacion__bloque {
  display: flex;
  border-radius: 15px;
  justify-content: center;
  gap: 40px;
  width: 40rem;
  margin: 50px 30px 30px 30px;

}
.tamaño_perfil {
  position: relative;
  width: 25rem;
}

.tamaño_perfil::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
  background: linear-gradient(
    180deg,
    transparent 0%,
    transparent 0%,
    #212529 50%
  );
}
.precentacion__img {
  width: 400px;
}


.precentacion__descripcionCompleta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  margin-right: 10px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
}

.proyectos__titulo,
.tecnologias__titulo {
  font-size: 2vw;
}

.proyectos__bloque {
  max-width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.proyectos__cajas {
  border: 1px solid #fff;
  padding: 100px;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.tecnologias__img {
  max-width: 5vw;
}

.tecnologias__img--radio {
  max-width: 5vw;
  border-radius: 50%;
}

.tecnologias__bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 20vh;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.tecnologias_cajas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.formulario__bloque {
  display: flex;
  gap: 1.5vw;
}
.formulario__input {
  padding: 0.5vw;
  width: 18vw;
  background-color: transparent;
  border: none;
  border-bottom: #0466c8 2px solid;
  outline: none;
  color: #fff;
}

.formulario__input:focus,
.formulario_textarea:focus {
  border-bottom: #c1121f 2px solid;
}

.formulario_textarea {
  resize: none;
  width: 40vw;
  height: 30vh;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: #0466c8 2px solid;
  outline: none;
}

.formulario__submit {
  padding: 10px 30px;
  margin-bottom: 30px;
  border: none;
  border: #bbb 2px solid;
  background-color: transparent;
  box-shadow: transparent;
  color: #bbb;
  border-radius: 8px;
  font-weight: 500;
  transition: 1s ease;
}

.formulario__submit:hover,
.formulario__submit:focus {
  background-color: #008cff;
  color: #fff;
  border: #008cff 2px solid;
  box-shadow: #008cff 0 0 10px, #008cff 0 0 20px, #008cff 0 0 40px;
  text-shadow: #fff 0 0 5px, #fff 0 0 10px, #fff 0 0 20px;
}

.formulario__input::placeholder,
.formulario_textarea::placeholder {
  color: #008cff;
}

@media (max-width: 960px) {
  .navegador {
    position: relative;
    display: flex;
    justify-content: center;
  }
  .navegador__menu {
    display: none;
  }

  .precentacion__img {
    max-width: 30vw;

    border-radius: 50%;
  }
  .precentacion__bloque {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .proyectos__titulo,
  .tecnologias__titulo {
    font-size: 5vw;
  }
  .proyectos {
    margin-top: 50px;
  }

  .tecnologias__img {
    max-width: 12vw;
  }
  .tecnologias__img--radio {
    max-width: 12vw;
  }
  .formulario__input {
    width: 30vw;
  }

  .formulario_textarea {
    width: 63vw;
    height: 30vh;
  }

  .tecnologias {
    margin-top: 50px;
  }
}

@media (max-width: 620px) {
  .proyectos__cajas {
    padding: 60px;
  }
}
