@import url("https://fonts.googleapis.com/css2?family=Anton&family=Karla:wght@300&family=Martian+Mono:wght@100&family=Montserrat:wght@100&family=Open+Sans:wght@300&family=Raleway:ital,wght@0,100;0,400;1,700&family=Roboto:wght@100&family=Tilt+Prism&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #10002b;
  color: #fff;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navegador {
  position: sticky;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2px 15px 2px 15px;
  top: 0;
  z-index: 1000;
}

.nombre {
  position: relative;
  text-shadow: #fff 0 0 10px,
  #fff 0 0 20px,
  #fff 0 0 30px;
  z-index: 20;
  padding: 10px;
}

.navegador__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  align-items: center;
  margin-right: 100px;
}

.navegador__botones {
  color: #fff;
  border: #5a189a 2px solid;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 1s;
}

.navegador__botones:hover {
  background-color: #5a189a;
  box-shadow: #c77dff 0 0 10px, 
  #c77dff 0 0 20px,
  #c77dff 0 0 30px;
  text-shadow: #fff 0 0 5px,
  #c77dff 0 0 10px,
  #c77dff 0 0 20px;
  /* border-bottom: #0466c8 2px solid; */
}

.precentacion {
  display: flex;
  margin-top: 100px;
  justify-content: center;
}



.precentacion__bloque {
  display: flex;
  border: #5a189a 1px transparent;
  border-radius: 15px;
  gap: 40px;
  max-width: 70vw;
  margin-top: 100px;
  background-color: #5a189a;
  box-shadow: inset #c77dff 0px 0 50px;
  flex-wrap: wrap;
}

.precentacion__img {
  max-width: 15vw;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 1s;
}



.precentacion__descripcionCompleta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50vw;
  margin-right: 10px;
}

.proyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  
}

.proyectos__titulo, .tecnologias__titulo {
  font-size: 2vw;
}

.proyectos__bloque {
  max-width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

.proyectos__cajas {
  border: 1px solid #fff;
  padding: 100px;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}



.tecnologias__img {
  max-width: 10vw;
}

.tecnologias__img--radio {
  max-width: 10vw;
  border-radius: 50%;
}

.tecnologias__img--fondo {
  max-width:10vw;
  border-radius: 50%;
}


.tecnologias__bloque {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 20vh;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
}


.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vw;
}
.formulario__bloque{
  display: flex;
  gap: 1.5vw;
}
.formulario__input{
  padding: .5vw;
  width: 18vw;
  background-color: transparent;
  border: none;
  border-bottom: #0466c8 2px solid;
  outline: none;
  color: #fff;
}

.formulario__input:focus, .formulario_textarea:focus{
  border-bottom: #c1121f 2px solid;
}

.formulario_textarea{
  resize: none;
  width: 40vw;
  height: 30vh;
  margin: 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-bottom: #0466c8 2px solid;
  outline: none;
}

.formulario__submit{
  padding: 10px 30px;
  margin-bottom: 30px;
  border: none;
  border: #bbb 2px solid;
  background-color: transparent;
  box-shadow: transparent;
  color: #bbb;
  border-radius:8px;
  font-weight: 500;
  transition: 1s ease;
}

.formulario__submit:hover, .formulario__submit:focus{
  background-color:  #008cff;
  color: #fff;
  border:  #008cff 2px solid;
  box-shadow:  #008cff 0 0 10px,
  #008cff 0 0 20px,
  #008cff 0 0 40px;
  text-shadow: #fff 0 0 5px,
  #fff 0 0 10px,
  #fff 0 0 20px
  ;
}

.formulario__input::placeholder,.formulario_textarea::placeholder{
  color: #008cff;

}

@media (max-width:960px){

  .navegador{
    position: relative;
    display: flex;
    justify-content: center;
  }
  .navegador__menu{
    display: none;
  }

  .precentacion__img {
    max-width:30vw;
    
    border-radius: 50%;
  }
  .precentacion__bloque {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .proyectos__titulo, .tecnologias__titulo{
    font-size: 5vw;
  }
  .proyectos{
    margin-top: 50px;
  }

  .tecnologias__img {
    max-width: 12vw;
  }
  .tecnologias__img--radio{
    max-width: 12vw;
  }
  .formulario__input{

    width:30vw;

  }
  
  
  .formulario_textarea{

    width: 63vw;
    height: 30vh;

  }

  .tecnologias{
    margin-top: 50px;
  }

}

@media (max-width:620px){
  .proyectos__cajas{
    padding: 60px;
  }
}
